### Business Understanding

The job market is highly dynamic, with frequent changes in industry demand, salary ranges, experience requirements, job roles, and locations. For job seekers, recruiters, and organizations, understanding these patterns is critical for making informed career and hiring decisions.

However, job listing data collected from kaggle is often messy, inconsistent, and unstructured, making it difficult to directly extract meaningful insights.

This project aims to analyze and clean real-world job posting data to uncover key trends and relationships within the job market.

### Objective

Which industries offer higher salary opportunities.

How experience and seniority levels impact average pay.

Differences in salary and demand across job roles.

How job location influences compensation and hiring patterns.

Whether certain industries or roles dominate specific regions.

Key patterns and relationships validated using statistical hypothesis testing.

### Business Value

The insights from this analysis can help:

Job seekers understand which skills, roles, and locations offer better career growth.

Recruiters and HR teams benchmark salaries and identify talent demand by industry.

Students and freshers plan career paths based on market trends.

# Import Libraries

In [18]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
from scipy.stats import stats

### Load data and inspect

In [19]:
df = pd.read_csv(r'C:\Users\DELL\OneDrive\Desktop\project\EDA job\job.csv')
df.head()

,company,education,experience,industry,jobdescription,jobid,joblocation_address,jobtitle,numberofpositions,payrate,postdate,site_name,skills,uniq_id
0,MM Media Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,0 - 1 yrs,Media / Entertainment / Internet,Job Description Send me Jobs like this Quali...,210516002263,Chennai,Walkin Data Entry Operator (night Shift),NaN,"1,50,000 - 2,25,000 P.A",2016-05-21 19:30:00 +0000,NaN,ITES,43b19632647068535437c774b6ca6cf8
1,find live infotech,UG: B.Tech/B.E. - Any Specialization PG:MBA/PG...,0 - 0 yrs,Advertising / PR / MR / Event Management,Job Description Send me Jobs like this Quali...,210516002391,Chennai,Work Based Onhome Based Part Time.,60.0,"1,50,000 - 2,50,000 P.A. 20000",2016-05-21 19:30:00 +0000,NaN,Marketing,d4c72325e57f89f364812b5ed5a795f0
2,Softtech Career Infosystem Pvt. Ltd,UG: Any Graduate - Any Specialization PG:Any P...,4 - 8 yrs,IT-Software / Software Services,Job Description Send me Jobs like this - as ...,101016900534,Bengaluru,Pl/sql Developer - SQL,NaN,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,NaN,IT Software - Application Programming,c47df6f4cfdf5b46f1fd713ba61b9eba
3,Onboard HRServices LLP,UG: Any Graduate - Any Specialization PG:CA Do...,11 - 15 yrs,Banking / Financial Services / Broking,Job Description Send me Jobs like this - Inv...,81016900536,"Mumbai, Bengaluru, Kolkata, Chennai, Coimbator...",Manager/ad/partner - Indirect Tax - CA,NaN,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,NaN,Accounts,115d28f140f694dd1cc61c53d03c66ae
4,Spire Technologies and Solutions Pvt. Ltd.,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,6 - 8 yrs,IT-Software / Software Services,Job Description Send me Jobs like this Pleas...,120916002122,Bengaluru,JAVA Technical Lead (6-8 yrs) -,4.0,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,NaN,IT Software - Application Programming,a12553fc03bc7bcced8b1bb8963f97b4

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   company              21996 non-null  object
 1   education            20004 non-null  object
 2   experience           21996 non-null  object
 3   industry             21995 non-null  object
 4   jobdescription       21996 non-null  object
 5   jobid                22000 non-null  int64
 6   joblocation_address  21499 non-null  object
 7   jobtitle             22000 non-null  object
 8   numberofpositions    4464 non-null   float64
 9   payrate              21903 non-null  object
 10  postdate             21977 non-null  object
 11  site_name            3987 non-null   object
 12  skills               21472 non-null  object
 13  uniq_id              22000 non-null  object
dtypes: float64(1), int64(1), object(12)
memory usage: 2.3+ MB

#### Clearly see that uniq_id, jobtitle, jobid this columns are filled with values but i need handle so many null values

In [22]:
df.describe()

              jobid  numberofpositions
count  2.200000e+04        4464.000000
mean   1.561171e+11          45.116935
std    9.423956e+10         186.197193
min    1.011600e+10           1.000000
25%    6.121650e+10           2.000000
50%    1.602169e+11           4.000000
75%    2.502166e+11          10.000000
max    3.112155e+11        2000.000000

#### Need to change the data type of jobid, that is numeric column here but it is an id need to change that

In [23]:
df.nunique()

company                 8469
education               2355
experience               147
industry                  63
jobdescription         21063
jobid                  21910
joblocation_address     2329
jobtitle               17564
numberofpositions         84
payrate                 1848
postdate                4203
site_name                  1
skills                    45
uniq_id                22000
dtype: int64

##### Unique values count

In [24]:
df.isnull().sum()

company                    4
education               1996
experience                 4
industry                   5
jobdescription             4
jobid                      0
joblocation_address      501
jobtitle                   0
numberofpositions      17536
payrate                   97
postdate                  23
site_name              18013
skills                   528
uniq_id                    0
dtype: int64

##### Wow i think i need to handle some null values

##### After doing data profile

### Wow need to handle some null values

In [26]:
df.head()

,company,education,experience,industry,jobdescription,jobid,joblocation_address,jobtitle,numberofpositions,payrate,postdate,site_name,skills,uniq_id
0,MM Media Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,0 - 1 yrs,Media / Entertainment / Internet,Job Description Send me Jobs like this Quali...,210516002263,Chennai,Walkin Data Entry Operator (night Shift),NaN,"1,50,000 - 2,25,000 P.A",2016-05-21 19:30:00 +0000,NaN,ITES,43b19632647068535437c774b6ca6cf8
1,find live infotech,UG: B.Tech/B.E. - Any Specialization PG:MBA/PG...,0 - 0 yrs,Advertising / PR / MR / Event Management,Job Description Send me Jobs like this Quali...,210516002391,Chennai,Work Based Onhome Based Part Time.,60.0,"1,50,000 - 2,50,000 P.A. 20000",2016-05-21 19:30:00 +0000,NaN,Marketing,d4c72325e57f89f364812b5ed5a795f0
2,Softtech Career Infosystem Pvt. Ltd,UG: Any Graduate - Any Specialization PG:Any P...,4 - 8 yrs,IT-Software / Software Services,Job Description Send me Jobs like this - as ...,101016900534,Bengaluru,Pl/sql Developer - SQL,NaN,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,NaN,IT Software - Application Programming,c47df6f4cfdf5b46f1fd713ba61b9eba
3,Onboard HRServices LLP,UG: Any Graduate - Any Specialization PG:CA Do...,11 - 15 yrs,Banking / Financial Services / Broking,Job Description Send me Jobs like this - Inv...,81016900536,"Mumbai, Bengaluru, Kolkata, Chennai, Coimbator...",Manager/ad/partner - Indirect Tax - CA,NaN,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,NaN,Accounts,115d28f140f694dd1cc61c53d03c66ae
4,Spire Technologies and Solutions Pvt. Ltd.,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,6 - 8 yrs,IT-Software / Software Services,Job Description Send me Jobs like this Pleas...,120916002122,Bengaluru,JAVA Technical Lead (6-8 yrs) -,4.0,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,NaN,IT Software - Application Programming,a12553fc03bc7bcced8b1bb8963f97b4

In [27]:
df.to_csv(r'C:\Users\DELL\OneDrive\Desktop\project\EDA job\cleaned_day1.csv')